<!DOCTYPE html>
<html>
<head>
    <title>Github Navigator</title>
</head>
<body>
    {% if form_errors or api_error %}
        <h1>{{ form_errors }} {{ api_error }} </h1>
    {% else %}
        <h1>{{ search_term }}</h1>
        {% for repo in repositories %}
            <h2>{{ forloop.counter }}. {{ repo.repository_name }}</h2>
            <h3> Created {{ repo.created_at }}</h3>
            <a href="{{ repo.owner_url }}"><img src="{{ repo.avatar_url }}" alt="avatar" height="42" width="42"/></a>
            {{ repo.owner_login }}
            <h3>LastCommit</h3>
            {{ repo.sha }} {{ repo.commit_message }}  {{ repo.commit_author_name }} {{ repo.commit_error_message }}
            <hr/>
        {% empty %}
            <h2>Sorry, we could not find any repository with given term. </h2>
        {% endfor %}
    {% endif %}
</body>
</html>